@tailwind base;

@font-face {
    font-family: 'Cascadia Mono';
    src: url('cascadiamono-webfont.woff2') format('woff2'),
         url('cascadiamono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind components;

@tailwind utilities;

.font-cascadia {
    font-family: 'Cascadia Mono', monospace;
}

.markdown {
    b, strong {
        @apply font-bold text-gray-700;
    }

    i { @apply italic; }
    u { @apply underline; }

    code {
        @apply bg-red-100 text-red-600 px-2;
    }

    p:not(:first-child) {
        @apply mt-3;
    }
}
